&i2c0 {
    status = "okay";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";

    /* Definição única do sensor; NÃO repetir fora deste bloco! */
    tc74sensor: tc74sensor@4d {
        compatible = "microchip,tc74";
        reg = <0x4d>;
        status = "okay";
        label = "TC74SENSOR";
    };
};

&pwm0 {
    status = "okay";

    /* define os dois states que o binding espera */
    pinctrl-0 = <&pwm0_default>;
    pinctrl-1 = <&pwm0_sleep>;
    pinctrl-names = "default", "sleep";
};

/*mudar o pin do pwm do 13(LED0) para o 10 (n tem nada lá ligado) */
&pwm0_default {
    phandle = < 0xd >;
    group1 {
        psels = < NRF_PSEL(PWM_OUT0, 0, 28) >;
        nordic,invert;
    };
};

/ {
    aliases {
        /* alias continua igual */
        heater-pwm = &pwm0;
    };
};